<div class="left-nav-wrap">
    <div class="left-sidebar">
        <nav class="sidebar-menu">
            <ul id="nav-accordion">

              <li class="nav-title">
                <h5 class="text-uppercase">MENU PRINCIPAL</h5>
              </li>
              <li>
                <a routerLink="/acceuil">
                  <i class="ti-home"></i>
                  <span>Acceuil</span>
                </a>
              </li>

              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="icon-calendar"></i>
                  <span>Données de base </span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/reglements"><i class="fa fa-share"></i> Mode de reglement</a></li>
                  <li><a routerLink="/new_client"><i class="fa fa-share"></i> Nouveau Client</a></li>
                  <li><a routerLink="/list_client"><i class="fa fa-circle-o"></i> Consultation Client</a></li>
                  <li><a routerLink="/new_compte"><i class="fa fa-share"></i> Nouveau Compte</a></li>
                  <li><a routerLink="/list_compte"><i class="fa fa-circle-o"></i> Consultation Compte</a></li>
                </ul>
              </li>

              <li class="nav-title">
                <h5 class="text-uppercase">MENU OPERATIONS</h5>
              </li>
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="ti-pencil-alt"></i>
                  <span>Opérations </span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/versement"><i class="fa fa-circle-o"></i> Dépot sur Compte</a></li>
                  <li><a routerLink="/retrait"><i class="fa fa-circle-o"></i> Retrait sur Compte</a></li>
                  <li><a routerLink="/virement"><i class="fa fa-circle-o"></i> Transfert entre Compte</a></li>
                </ul>
              </li>

              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="ti-blackboard"></i>
                  <span>Comptes Emprunts </span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/new_emprunt"><i class="fa fa-circle-o"></i> Nouveau Emprunt</a></li>
                  <li><a routerLink="/list_emprunts"><i class="fa fa-circle-o"></i> Consulter Emprunts</a></li>
                  <li><a routerLink="/list_remb"><i class="fa fa-circle-o"></i>Remboursements</a></li>
                </ul>
              </li>

              <li class="nav-title">
                <h5 class="text-uppercase">MENU PARAMETRES </h5>
              </li>
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="icon-equalizer"></i>
                  <span>Paramètre des Comptes </span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/opecour"><i class="fa fa-circle-o"></i> Operation Courante</a></li>
                  <li><a routerLink="/cpteRel"><i class="fa fa-circle-o"></i> Pointage de relevé</a></li>
                  <li><a routerLink="/new_remb"><i class="fa fa-circle-o"></i> Relevé archivés</a></li>
                  <li><a routerLink="/situation_compte"><i class="fa fa-circle-o"></i>Situation Comptes</a></li>
                </ul>
              </li>

              <li class="sub-menu">
                <a href="javascript:;">
                  <i class=" ti-stats-up"></i>
                  <span>Analyses</span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/recherche"><i class="fa fa-circle-o"></i> Recherche MultiCritère</a></li>
                  <li><a routerLink="/releve_compte"><i class="fa fa-circle-o"></i>Relevé de Compte</a></li>
                </ul>
              </li>

              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="  ti-bell"></i>
                  <span>Gestion des notifications</span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/new_emprunt"><i class="fa fa-circle-o"></i> Envoyer Email</a></li>
                  <li><a routerLink="/list_emprunts"><i class="fa fa-circle-o"></i> Envoyer SMS</a></li>
                </ul>
              </li>

              <li class="nav-title">
                <h5 class="text-uppercase">MENU ADMINISTRATION</h5>
              </li>
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class=" ti-layout-tab"></i>
                  <span>Administration</span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/utilisateur"><i class="fa fa-circle-o"></i> Gestion des utilisateurs</a></li>
                </ul>
              </li>

              <li class="sub-menu">
                <a href="javascript:;">
                  <i class=" ti-archive"></i>
                  <span>Gestion de la Base de Données</span>
                </a>
                <ul class="sub">
                  <li><a routerLink="/sauvegarder"><i class="fa fa-circle-o"></i> Sauvegarder</a></li>
                  <li><a routerLink="/restaurer"><i class="fa fa-circle-o"></i> Restaurer</a></li>
                </ul>
              </li>

              <li class="nav-title">
                <h5 class="text-uppercase">MENU DECONNECTION</h5>
              </li>
              <li>
                <a routerLink="/logout">
                  <i class=" ti-power-off"></i>
                  <span>Déconnection</span>
                </a>
              </li>



            </ul>
        </nav>
    </div>
</div>
