<div class="container-fluid">
  <div class="card card-shadow mb-4">
    <div class="card-header border-0">
      <div class="custom-title-wrap bar-primary">
        <div class="custom-title">Effectuer une sauvegarde</div>
      </div>
    </div>
    <div class="card-body">
    <!-- form start -->
    <form class="form-horizontal">
      <div class="box-body">

        <button type="submit" class="btn btn-info fa fa-archive" (click)="onSauvegarde()">Démarer la sauvegarde</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
</div>
</div>
