<div class="container-fluid">

  <!--page title-->
  <div class="page-title mb-4 d-flex align-items-center">
    <div class="mr-auto">
      <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">Consultation du Compte</h4>
      <nav aria-label="breadcrumb" class="d-inline-block ">
        <ol class="breadcrumb p-0">
          <li class="breadcrumb-item"><a routerLink="/acceuil">Acceuil</a></li>
          <li class="breadcrumb-item"><a routerLink="/list_compte">Comptes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Consultation du Compte</li>
        </ol>
      </nav>
    </div>
  </div>
  <!--/page title-->

  <div class="card card-shadow mb-4">
    <div class="card-header border-0">
      <div class="custom-title-wrap bar-warning">
        <div class="custom-title">Consultation du compte N° {{comptes.code_compte}}</div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="reactiveForm">

        <div class="row">
          <div class="col-sm-3">Type de Compte</div>
          <div class="col-sm-9">
                <input  type="text" name="type_compte" formControlName="type_compte" [(ngModel)]="comptes.type_compte" class="form-control">

            </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Numero de Compte</label>
          <div class="col-sm-9">
            <input type="text" name="code_compte" id="code_compte" [(ngModel)]="comptes.code_compte" formControlName="code_compte" class="form-control">
            <div *ngIf="reactiveForm.controls.code_compte.errors && (reactiveForm.controls.code_compte.touched || reactiveForm.controls.code_compte.dirty)" style=color:red;>
              <div *ngIf="reactiveForm.hasError('required','code_compte')">
                code_compte est obligatoire.
              </div>
              <div *ngIf="reactiveForm.hasError('pattern','code_compte')">
                Format incorrect
              </div>
              <div *ngIf="reactiveForm.hasError('minLength','code_compte')">
                code_compte doit avoir au moins 3 caracteres
              </div>
            </div>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Sélectionner le Client</label>
          <div class="col-sm-9">
            <select name="client" id="client" formControlName="client" [(ngModel)]="comptes.client.code_client" class="form-control ">
              <option *ngFor="let f of divisions" [ngValue]="f.code_client">
                {{ f.nom_client}}
              </option>
            </select>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Solde Initial</label>
          <div class="col-sm-9">
            <input type="text" name="solde" id="solde" [(ngModel)]="comptes.solde" formControlName="solde" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Etat du Compte</label>
          <div class="col-sm-9">
            <input type="checkbox" value="true" [(ngModel)]="comptes.compte_operationnel" formControlName="compte_operationnel">
            <span>Compte operationnel </span>           </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Béneficiaire / Caution</label>
          <div class="col-sm-9">
            <input type="text" name="beneficiaire" [(ngModel)]="comptes.beneficiaire" id="beneficiaire" formControlName="beneficiaire" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Contact Béneficiaire / Caution</label>
          <div class="col-sm-9">
            <input type="text" name="contact_beneficiaire" [(ngModel)]="comptes.contact_beneficiaire" id="contact_beneficiaire" formControlName="contact_beneficiaire" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Commentaire</label>
          <div class="col-sm-9">
            <textarea name="commentaire" id="commentaire" [(ngModel)]="comptes.commentaire" formControlName="commentaire" class="form-control" cols="40" rows="4"></textarea>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
