<div class="hold-transition login-page" *ngIf="!isAuthenticated()" >

 <!-- <div class="col-md-offset-4 col-md-4">
    <div style="margin-top: 100px; margin-right: 30px">
      &lt;!&ndash;login form&ndash;&gt;
      <div class="">
        <h2 class="text-center mb-4">
          <img src="assets/img/logo.png" srcset="assets/img/logo@2x.jpg 2x" alt="CodeLab">
        </h2>
        <h4 class="text-uppercase- text-purple text-center mb-5">Connecter vous pour démarer votre session!!!</h4>
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
          <div class="form-group">
            <input type="text" class="form-control" name="username" ngModel placeholder="Entrer l'identifiant">
          </div>
          <div class="form-group ">
            <input type="password" class="form-control" name="password" ngModel placeholder="Entrer le mot de passe">
          </div>

          <div class="form-group clearfix">
            <button type="reset" (click)="warningSuccess()" class="btn btn-warning btn-pill float-left">ANNULER</button>
            <button type="submit" class="btn btn-success btn-pill float-right">SE CONNECTER</button>
          </div>

        </form>
      </div>
      &lt;!&ndash;/login form&ndash;&gt;
    </div>
  </div>-->

  <!--<div style="background-color: #7f8c8d">
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-4">
        <div class="lock-wrap">
          <h2 class="text-center mb-4">
            <img src="assets/img/light-logo.png" srcset="assets/img/logo@2x.jpg 2x" alt="CodeLab">
          </h2>
          <h4 class="text-uppercase- text-purple text-center mb-5">Connecter vous pour démarer votre session!!!</h4>
          <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
            <div class="form-group">
              <input type="text" class="form-control" name="username" required="required" ngModel placeholder="Entrer l'identifiant">
            </div>
            <div class="form-group ">
              <input type="password" class="form-control" name="password" ngModel required="required" placeholder="Entrer le mot de passe">
            </div>

            <div class="form-group clearfix">
              <button type="reset" (click)="warningSuccess()" class="btn btn-warning btn-pill float-left">ANNULER</button>
              <button type="submit" class="btn btn-success btn-pill float-right">SE CONNECTER</button>
            </div>

          </form>

          <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  </div>-->

  <div style="background-color: #7f8c8d">
  <div id="container">
    <!-- zone de connexion -->

    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <h1>Connexion</h1>

      <label><b>Nom d'utilisateur</b></label>
      <input type="text" ngModel placeholder="Entrer le nom d'utilisateur" name="username" required>

      <label><b>Mot de passe</b></label>
      <input type="password" ngModel placeholder="Entrer le mot de passe" name="password" required>

      <input type="submit" id='submit' value='LOGIN' >

    </form>
  </div>
  </div>


</div>

<div *ngIf="isAuthenticated()">
  <app-header></app-header>

  <div class="app-body">
    <!--left sidebar start-->
    <app-menu></app-menu>
    <!--left sidebar end-->

    <!--main content wrapper-->
    <div class="content-wrapper">



      <router-outlet></router-outlet>

      <!--footer-->
      <app-footer></app-footer>
      <!--/footer-->
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
   <!-- <div class="right-sidebar" id="right_side_bar">
      <div class="card border-0">
        <div class="card-body pb-0">
          &lt;!&ndash;close toggle&ndash;&gt;
          <a href="javascript:;" class="right_side_toggle float-right close-sidebar-icon">
            <i class=" ti-shift-right"> </i>
          </a>
          &lt;!&ndash;/close toggle&ndash;&gt;
        </div>
        <div class="card-body pt-2">

          <div class="right-widget">
            <div class="custom-title-wrap bar-primary mb-4">
              <div class="custom-title">Today's Activity</div>
            </div>

            <ul class="list-unstyled base-timeline">
              <li class="time-dot-primary">
                <div class="base-timeline-info">
                  <a href="#">John123</a> Successfully purchased item#26
                </div>
                <small class="text-muted">
                  28 mins ago
                </small>
              </li>
              <li class="time-dot-danger">
                <div class="base-timeline-info">
                  <a href="#" class="text-danger">Farnandez</a> placed the order for accessories
                </div>
                <small class="text-muted">
                  2 days ago
                </small>
              </li>
              <li class="time-dot-purple">
                <div class="base-timeline-info">
                  User <a href="#" class="text-purple">Lisa Maria</a> checked out from the market
                </div>
                <small class="text-muted">
                  12 mins ago
                </small>
              </li>
            </ul>
          </div>

          <div class="right-widget">
            <div class="custom-title-wrap bar-danger mb-4">
              <div class="custom-title">Active Users</div>
            </div>

            <ul class="list-unstyled mb-0 list-widget">
              <li class="cursor">
                <div class="media mb-4">
                  <div class="st-alphabet mr-3">
                    <img class="rounded-circle" src="assets/img/avatar/avatar1.jpg" alt=" ">
                    <span class="status bg-success"></span>
                  </div>
                  <div class="media-body ">
                    <div class="float-left">
                      <h6 class="text-uppercase mb-0">shirley hoe</h6>
                      <span class="text-muted">Online</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="cursor">
                <div class="media mb-4">
                  <div class="st-alphabet mr-3">
                    <img class="rounded-circle" src="assets/img/avatar/avatar2.jpg" alt=" ">
                    <span class="status bg-warning"></span>
                  </div>
                  <div class="media-body ">
                    <div class="float-left">
                      <h6 class="text-uppercase mb-0">james alexender</h6>
                      <span class="text-muted">Screaming...</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="cursor">
                <div class="media mb-4">
                  <div class="st-alphabet mr-3">
                    <img class="rounded-circle" src="assets/img/avatar/avatar3.jpg" alt=" ">
                    <span class="status bg-info"></span>
                  </div>
                  <div class="media-body">
                    <div class="float-left">
                      <h6 class="text-uppercase mb-0">ursula sitorus</h6>
                      <span class="text-muted">Start Exploring</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="cursor">
                <div class="media mb-3">
                  <div class="st-alphabet mr-3">
                    <img class="rounded-circle" src="assets/img/avatar/avatar4.jpg" alt=" ">
                    <span class="status bg-danger"></span>
                  </div>
                  <div class="media-body">
                    <div class="float-left">
                      <h6 class="text-uppercase mb-0">jonna pinedda</h6>
                      <span class="text-muted">Busy</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="right-widget">

            <div class="custom-title-wrap bar-success mb-4">
              <div class="custom-title">Notification</div>
            </div>

            <div >
              <a class="nav-link border-bottom px-0 py-3" href="#">
                                  <span class="text-primary">
                                  <span class="weight700 f12">
                                      <i class="vl_bell weight600 pr-2"></i>Weekly Update</span>
                                  </span>
                <span class="small float-right text-muted">03:14 AM</span>

                <div class="text-dark f12">
                  This week project update report generated. All team members are requested to check the updates
                </div>
              </a>

              <a class="nav-link border-bottom px-0 py-3" href="#">
                                  <span class="text-danger">
                                  <span class="weight700 f12">
                                      <i class="vl_Download-circle weight600 pr-2"></i>Server Error</span>
                                  </span>
                <span class="small float-right text-muted">10:34 AM</span>

                <div class="text-dark f12">
                  Unexpectedly server response stop. Responsible members are requested to fix it soon
                </div>
              </a>

              <a class="nav-link border-bottom px-0 py-3" href="#">
                                  <span class="text-success">
                                  <span class="weight700 f12">
                                      <i class="vl_screen weight600 pr-2"></i>Monthly Meeting</span>
                                  </span>
                <span class="small float-right text-muted">12:30 AM</span>

                <div class="text-dark f12">
                  Our monthly meeting will be held on tomorrow sharp 12:30. All members are requested to attend this meeting.
                </div>
              </a>

              <div class="text-center mt-3">
                <a class="nav-link px-0" href="#">View all notification</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>-->
    <!--/right sidebar-->
  </div>
</div>
